In [2]:
# 1. For i in front/*; do imagemagick/convert 300x300px ...
# 2. Del all images with 2kb (sort, manual, Windows Explorer)
# 3. Basic Preparation Data with bash
#    cat sentencing.csv | sed -e 's/LIFE/100/g' |awk -F\; '{print $1 " " $7}'| awk 'BEGIN {id="id"; yrs="years"} id != $1 {print id","yrs; id=$1; yrs=$2 } id != "id" {yrs = yrs + $2}' >id_years.csv
rootdir='D:/data/unibe/CAS AML Project/'
import pandas as pd
import os
from tensorflow import keras

sentence_f=os.path.join(rootdir,'id_years.csv')
sentence = pd.read_csv(sentence_f)
sentence.head()

       id  years
0  A00147    174
1  A00220      7
2  A00360    203
3  A00367     83
4  A01054    225

In [10]:
sentence.describe()

              years
count  66850.000000
mean      39.643156
std       68.846831
min        0.000000
25%       11.000000
50%       22.000000
75%       45.000000
max     6265.000000

# classification in 4 classes (upto11, upto22, upto45, more)
Sandow@Silentmaxx-ms MINGW64 /d/data/unibe/CAS AML Project
$ cat classes.sh
mkdir -f 11 22 45 more
pixdir=front/front/300px/

awk -F, '{print $1" "$2}' <id_years.csv |while read id yrs; do
  if [ X$yrs == "Xyears" ]; then confinue; fi
  if [ $yrs -le 11 ]; then
    cp -fa $pixdir$id.jpg 11/
  elif [ $yrs -le 22 ]; then
    cp -fa $pixdir$id.jpg 22/
  elif [ $yrs -le 45 ]; then
    cp -fa $pixdir$id.jpg 45/
  else
    cp -fa $pixdir$id.jpg more/
  fi
done
# Kick out lines without image
awk -F, '{print $1" "$2}' <id_years.csv |while read id yrs; do test -f front/front/300px/$id.jpg && echo "$id,$yrs"; done >id_years2.csv

In [ ]:
image_size = (300, 300)
batch_size = 32

train_ds = tf.keras.preprocessing.image_dataset_from_directory(
    "Prisioners",
    validation_split=0.3,
    subset="training",
    seed=42,
    image_size=image_size,
    batch_size=batch_size,
)
val_ds = tf.keras.preprocessing.image_dataset_from_directory(
    "Prisioners",
    validation_split=0.3,
    subset="validation",
    seed=42,
    image_size=image_size,
    batch_size=batch_size,
)