https://www.kaggle.com/uciml/student-alcohol-consumption?select=student-mat.csv

https://www.kaggle.com/davidjfisher/illinois-doc-labeled-faces-dataset

In [17]:
!pip install pandas
!pip install matplotlib
!pip install scipy
!pip install os
!pip install numpy

Requirement already satisfied: pandas in c:\users\fluwi\appdata\local\continuum\anaconda3\lib\site-packages (0.23.4)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\fluwi\appdata\local\continuum\anaconda3\lib\site-packages (from pandas) (2.7.5)
Requirement already satisfied: pytz>=2011k in c:\users\fluwi\appdata\local\continuum\anaconda3\lib\site-packages (from pandas) (2018.7)
Requirement already satisfied: numpy>=1.9.0 in c:\users\fluwi\appdata\local\continuum\anaconda3\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: six>=1.5 in c:\users\fluwi\appdata\local\continuum\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)
Requirement already satisfied: matplotlib in c:\users\fluwi\appdata\local\continuum\anaconda3\lib\site-packages (3.0.2)
Requirement already satisfied: numpy>=1.10.0 in c:\users\fluwi\appdata\local\continuum\anaconda3\lib\site-packages (from matplotlib) (1.18.5)
Requirement already satisfied: cycler>=0.10 in c:\users\fluwi\appdata\local\continuum\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\fluwi\appdata\local\continuum\anaconda3\lib\site-packages (from matplotlib) (1.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\fluwi\appdata\local\continuum\anaconda3\lib\site-packages (from matplotlib) (2.3.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\fluwi\appdata\local\continuum\anaconda3\lib\site-packages (from matplotlib) (2.7.5)
Requirement already satisfied: six in c:\users\fluwi\appdata\local\continuum\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.12.0)
Requirement already satisfied: setuptools in c:\users\fluwi\appdata\local\continuum\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib) (47.1.1)
Requirement already satisfied: scipy in c:\users\fluwi\appdata\local\continuum\anaconda3\lib\site-packages (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\fluwi\appdata\local\continuum\anaconda3\lib\site-packages (from scipy) (1.18.5)
Collecting os

  Could not find a version that satisfies the requirement os (from versions: )
No matching distribution found for os

Requirement already satisfied: numpy in c:\users\fluwi\appdata\local\continuum\anaconda3\lib\site-packages (1.18.5)

In [18]:
import pandas as pd
import matplotlib
import scipy
import os
import numpy as np

In [19]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

Scraped from the Illinois DOC.

https://www.idoc.state.il.us/subsections/search/inms_print.asp?idoc=
https://www.idoc.state.il.us/subsections/search/pub_showfront.asp?idoc=
https://www.idoc.state.il.us/subsections/search/pub_showside.asp?idoc=

paste <(cat ids.txt | sed 's/^/http:\/\/www.idoc.state.il.us\/subsections\/search\/pub_showside.asp\?idoc\=/g') <(cat ids.txt| sed 's/^/  out=/g' | sed 's/$/.jpg/g') -d '\n' > showside.txt 
paste <(cat ids.txt | sed 's/^/http:\/\/www.idoc.state.il.us\/subsections\/search\/pub_showfront.asp\?idoc\=/g') <(cat ids.txt| sed 's/^/  out=/g' | sed 's/$/.jpg/g') -d '\n' > showfront.txt      
paste <(cat ids.txt | sed 's/^/http:\/\/www.idoc.state.il.us\/subsections\/search\/inms_print.asp\?idoc\=/g') <(cat ids.txt| sed 's/^/  out=/g' | sed 's/$/.html/g') -d '\n' > inmates_print.txt 

aria2c -i ../inmates_print.txt -j4 -x4 -l ../log-$(pwd|rev|cut -d/ -f 1|rev)-$(date +%s).txt

Then use htmltocsv.py to get the csv. Note that the script is very poorly written and may have errors. It also doesn't do anything with the warrant-related info, although there are some commented-out lines which may be relevant.
Also note that it assumes all the HTML files are located in the inmates directory., and overwrites any csv files in csv if there are any.

front.7z contains mugshots from the front
side.7z contains mugshots from the side
inmates.7z contains all the html files
csv contains the html files converted to CSV

The reason for packaging the images is that many torrent clients would otherwise crash if attempting to load the torrent.

All CSV files contain headers describing the nature of the columns. For person.csv, the id is unique. For marks.csv and sentencing.csv, it is not.
Note that the CSV files use semicolons as delimiters and also end with a trailing semicolon. If this is unsuitable, edit the arr2csvR function in htmltocsv.py.

There are 68149 inmates in total, although some (a few hundred) are marked as "Unknown"/"N/A"/"" in one or more fields.

The "height" column has been processed to contain the height in inches, rather than the height in feet and inches expressed as "X ft YY in."
Some inmates were marked "Not Available", this has been replaced with "N/A".
Likewise, the "weight" column has been altered "XXX lbs." -> "XXX". Again, some are marked "N/A".

The "date of birth" column has some inmates marked as "Not Available" and others as "". There doesn't appear to be any pattern. It may be related to the institution they are kept in. Otherwise, the format is MM/DD/YYYY.

The "weight" column is often rounded to the nearest 5 lbs.

Statistics for hair:
  43305 Black
  17371 Brown
   2887 Blonde or Strawberry
   2539 Gray or Partially Gray
    740 Red or Auburn
    624 Bald
    396 Not Available
    209 Salt and Pepper
     70 White
      7 Sandy
      1 Unknown

Statistics for sex:
  63409 Male
   4740 Female

Statistics for race:
  37991 Black
  20992 White
   8637 Hispanic
    235 Asian
    104 Amer Indian
     94 Unknown
     92 Bi-Racial
      4 

Statistics for eyes:
  51714 Brown
   7808 Blue
   4259 Hazel
   2469 Green
   1382 Black
    420 Not Available
     87 Gray

In [20]:
person = pd.read_excel('person.xlsx')
marks = pd.read_excel('marks.xlsx')
sentencing = pd.read_excel('sentencing.xlsx')

In [21]:
os.listdir()

['.ipynb_checkpoints',
 '436801_829570_bundle_archive.zip',
 'datasets',
 'datasets_251_561_student-mat.csv',
 'Data_cleaning.ipynb',
 'desktop.ini',
 'front',
 'htmltocsv.py',
 'illinois_doc_dataset.torrent',
 'images',
 'inmates',
 'M1',
 'M2',
 'marks.csv',
 'marks.xlsx',
 'marks_2',
 'merged',
 'merged_person_sentencing.csv',
 'notebook_M1D4.ipynb',
 'person.csv',
 'person.xlsx',
 'persons_2',
 'Python for ML',
 'readme',
 'sentencing.csv',
 'sentencing.xlsx',
 'sentencing_2',
 'sentencing_2.xlsx',
 'side',
 'Untitled.ipynb',
 'Untitled1.ipynb']

In [22]:
person.head()

,id,name,date_of_birth,weight,hair,sex,height,race,eyes,admission_date,...,last_paroled_date,projected_discharge_date,parole_date,electronic_detention_date,discharge_date,parent_institution,offender_status,location,sex_offender_registry_required,alias
0,A00147,"MCCUTCHEON, JOHN",06/14/1949,185.0,Brown,Male,67.0,White,Blue,02/16/1983,...,NaN,2036-06-10 00:00:00,NaN,NaN,NaN,DIXON CORRECTIONAL CENTER,IN CUSTODY,DIXON,1.0,NaN
1,A00220,"WALKER, ISIAH",03/30/1957,155.0,Black,Male,73.0,Black,Brown,05/19/2016,...,NaN,NaN,NaN,NaN,NaN,STATEVILLE CORRECTIONAL CENTER,NON-IDOC CUSTODY,ILL/OTH STATE/FED CONCURR,NaN,NaN
2,A00360,"BELL, HOWARD",12/18/1946,167.0,Gray or Partially Gray,Male,69.0,White,Green,02/26/1988,...,NaN,TO BE DETERMINED,2017-02-10 00:00:00,NaN,NaN,PINCKNEYVILLE CORRECTIONAL CENTER,PAROLE,PAROLE DISTRICT 1,NaN,HOWARD R BELL | DONALD BROADSTONE | RONALD B...
3,A00367,"GARVIN, RAYMOND",1954-12-01 00:00:00,245.0,Black,Male,72.0,Black,Brown,2017-09-11 00:00:00,...,NaN,11/20/2020,NaN,NaN,NaN,WESTERN ILLINOIS CORRECTIONAL CENTER,IN CUSTODY,WESTERN ILLINOIS,NaN,NaN
4,A01054,"TIPTON, DARNELL",03/25/1954,166.0,Salt and Pepper,Male,67.0,Black,Brown,12/23/1988,...,NaN,08/14/2068,NaN,NaN,NaN,MENARD CORRECTIONAL CENTER,IN CUSTODY,MENARD,1.0,NaN

In [23]:
sentencing.head()

,id,mittimus,class,count,offense,custody_date,sentence,county,sentence_discharged
0,A00147,82CF32,1,2,AGGR KIDNAPPING-NO RANSOM,11/26/1982,30 Years 0 Months 0 Days,JASPER,NO
1,A00147,82CF32,X,1,ATTEMPT MURDER/INTENT TO KILL/INJURE,11/26/1982,50 Years 0 Months 0 Days,JASPER,NO
2,A00147,82CF32,X,1,RAPE,11/26/1982,50 Years 0 Months 0 Days,JASPER,NO
3,A00147,82CF32,2,1,BURGLARY,11/26/1982,14 Years 0 Months 0 Days,JASPER,NO
4,A00220,7916505,3,1,ATTEMPT BURGLARY,00/00/0000,2 Years 0 Months 0 Days,COOK,YES

In [24]:
marks.head()

,id,mark,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,A00147,"SCAR, ARM, RIGHT - 2\""",NaN,NaN,NaN,NaN
1,A00147,"SCAR, WRIST, RIGHT - 1\""",NaN,NaN,NaN,NaN
2,A00147,"TATTOO, ARM, LEFT - 1111",NaN,NaN,NaN,NaN
3,A00220,"SCAR, ARM, LEFT - SCAR ARM, LEFT",NaN,NaN,NaN,NaN
4,A00220,"SCAR, CHEST - SCAR CHEST",NaN,NaN,NaN,NaN

In [25]:
marks_2 = marks#[0:49]
marks_2.head()

,id,mark,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,A00147,"SCAR, ARM, RIGHT - 2\""",NaN,NaN,NaN,NaN
1,A00147,"SCAR, WRIST, RIGHT - 1\""",NaN,NaN,NaN,NaN
2,A00147,"TATTOO, ARM, LEFT - 1111",NaN,NaN,NaN,NaN
3,A00220,"SCAR, ARM, LEFT - SCAR ARM, LEFT",NaN,NaN,NaN,NaN
4,A00220,"SCAR, CHEST - SCAR CHEST",NaN,NaN,NaN,NaN

## Marks

In [26]:
print('There are ' + 
      str(len(marks_2['mark'].unique())) + 
      ' unique strings in a total of ' + 
      str(len(marks_2)) + 
      ' strings in the column mark, ' +
      'so I need to organise these'
     )

There are 141907 unique strings in a total of 192747 strings in the column mark, so I need to organise these

Sorting for visible scars, tattoos and medical conditions

In [27]:
marks_2['scar_visible'] = ""
marks_2['tat_visible'] = ""
marks_2['mc_visible'] = ""
marks_2['any_visible'] = ""

substring_list_scar = ['SCAR, ARM', 'SCAR ARM', 
                 'SCAR, FOREHEAD', 'SCAR FOREHEAD',
                 'SCAR, HAND', 'SCAR HAND',
                 'SCAR, NECK', 'SCAR NECK',
                 'SCAR, WRIST', 'SCAR WRIST',
                 'SCAR, CHIN', 'SCAR CHIN',
                 'TATTOO, EYEBROWS', 'TATTOO EYEBROWS',
                 'TATTOO, EYEBROW', 'TATTOO EYEBROW',
                 'TATTOO, BROW', 'TATTOO BROW',
                 'MISSING LEG', 
                 'MISSING ARM',
                 'MISSING HAND', 
                 'MISSING FOOT',
                 'MISSING FINGER'
                 'MISSING EYE',
                 'MISSING TOOTH',
                 'MISSING TEETH',
                 'MISSING EAR'
                 ]

substring_list_tat = ['TATTOO, ARM', 'TATTOO ARM', 
                 'TATTOO, FOREHEAD', 'TATTOO FOREHEAD',
                 'TATTOO, HAND', 'TATTOO HAND',
                 'TATTOO, NECK', 'TATTOO NECK',
                 'TATTOO, WRIST', 'TATTOO WRIST',
                 'TATTOO, CHIN', 'TATTOO CHIN',
                 'TATTOO, EAR', 'TATTOO EAR',
                 'TATTOO, BROW', 'TATTOO BROW',
                 'TATTOO, EYEBROW', 'TATTOO EYEBROW',
                 'TATTOO, EYEBROWS', 'TATTOO EYEBROWS',
                 'TATTOO, CHEEK', 'TATTOO CHEEK',
                 ]

substring_list_mc = ['ACNE'   
                 ]

for row in range(len(marks_2)):
    if any(substring in marks_2['mark'][row] for substring in substring_list_scar) == True:
        marks_2['scar_visible'][row] = 1
    else:
        marks_2['scar_visible'][row] = 0



for row in range(len(marks_2)):
    if any(substring in marks_2['mark'][row] for substring in substring_list_tat) == True:
        marks_2['tat_visible'][row] = 1
    else:
        marks_2['tat_visible'][row] = 0
        
        
for row in range(len(marks_2)):
    if any(substring in marks_2['mark'][row] for substring in substring_list_mc) == True:
        marks_2['mc_visible'][row] = 1
    else:
        marks_2['mc_visible'][row] = 0


for row in range(len(marks_2)):
    if marks_2['tat_visible'][row] == 1 or marks_2['mc_visible'][row] == 1  or marks_2['scar_visible'][row] == 1 :
        marks_2['any_visible'][row] = 1
    else:
        marks_2['any_visible'][row] = 0
        
marks_2

,id,mark,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,scar_visible,tat_visible,mc_visible,any_visible
0,A00147,"SCAR, ARM, RIGHT - 2\""",NaN,NaN,NaN,NaN,1,0,0,1
1,A00147,"SCAR, WRIST, RIGHT - 1\""",NaN,NaN,NaN,NaN,1,0,0,1
2,A00147,"TATTOO, ARM, LEFT - 1111",NaN,NaN,NaN,NaN,0,1,0,1
3,A00220,"SCAR, ARM, LEFT - SCAR ARM, LEFT",NaN,NaN,NaN,NaN,1,0,0,1
4,A00220,"SCAR, CHEST - SCAR CHEST",NaN,NaN,NaN,NaN,0,0,0,0
5,A00360,"SCAR, EYEBROW, LEFT (EYE AREA) - SCAR EYEBROW,...",NaN,NaN,NaN,NaN,0,0,0,0
6,A00360,"TATTOO, SHOULDER, LEFT - ROSE",NaN,NaN,NaN,NaN,0,0,0,0
7,A00367,"SCAR, FOREHEAD - GLASS CUT",NaN,NaN,NaN,NaN,1,0,0,1
8,A01054,"SCAR, ARM, RIGHT - SCAR ARM, RIGHT",NaN,NaN,NaN,NaN,1,0,0,1
9,A01054,"SCAR, HAND, RIGHT - SCAR HAND, RIGHT",NaN,NaN,NaN,NaN,1,0,0,1
10,A01054,"SCAR, LEG, LEFT - SCAR LEG, LEFT",NaN,NaN,NaN,NaN,0,0,0,0
11,A01072,"SCAR, WRIST, LEFT - SCAR",NaN,NaN,NaN,NaN,1,0,0,1
12,A01077,"TATTOO, ARM, LEFT - TATTOO ARM, LEFT",NaN,NaN,NaN,NaN,0,1,0,1
13,A01148,"SCAR, LEG, LEFT -",NaN,NaN,NaN,NaN,0,0,0,0
14,A01148,"TATTOO, ARM, LEFT UPPER - RON & PAMELA",NaN,NaN,NaN,NaN,0,1,0,1
15,A01148,"SCAR, BACK -",NaN,NaN,NaN,NaN,0,0,0,0
16,A01148,"SCAR, ELBOW, RIGHT -",NaN,NaN,NaN,NaN,0,0,0,0
17,A01148,"SCAR, ARM, RIGHT -",NaN,NaN,NaN,NaN,1,0,0,1
18,A01157,"SCAR, FOREHEAD - SCAR FOREHEAD",NaN,NaN,NaN,NaN,1,0,0,1
19,A01181,"SCAR, LEG, LEFT -",NaN,NaN,NaN,NaN,0,0,0,0
20,A01181,"TATTOO, CHEST - PYRAMID",NaN,NaN,NaN,NaN,0,0,0,0
21,A01181,"TATTOO, FOREARM, LEFT - \""CAPRICE\""",NaN,NaN,NaN,NaN,0,0,0,0
22,A01237,"SCAR, ELBOW, LEFT -",NaN,NaN,NaN,NaN,0,0,0,0
23,A01237,"SCAR, ELBOW, RIGHT -",NaN,NaN,NaN,NaN,0,0,0,0
24,A01258,NONE RECORDED,NaN,NaN,NaN,NaN,0,0,0,0
25,A01285,NONE RECORDED,NaN,NaN,NaN,NaN,0,0,0,0
26,A01349,NONE RECORDED,NaN,NaN,NaN,NaN,0,0,0,0
27,A01356,"TATTOO, FOREARM, LEFT - DRAGON",NaN,NaN,NaN,NaN,0,0,0,0
28,A01356,"TATTOO, FOREARM, RIGHT - SCORPION",NaN,NaN,NaN,NaN,0,0,0,0
29,A01365,"SCAR, ABDOMEN - SCAR ON ABDOMEN",NaN,NaN,NaN,NaN,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
192717,Y32574,"TATTOO, HAND, LEFT - \""TOSHA\""",NaN,NaN,NaN,NaN,0,1,0,1
192718,Y32574,"TATTOO, BACK - CROSS,\""LIFE\""",NaN,NaN,NaN,NaN,0,0,0,0
192719,Y32574,"TATTOO, ARM, LEFT - \""MOM,TRUE,HEAVEN SENT HEL...",NaN,NaN,NaN,NaN,0,1,0,1
192720,Y32575,"TATTOO, HAND, LEFT - \""HALL'EB\""",NaN,NaN,NaN,NaN,0,1,0,1
192721,Y32575,"TATTOO, ARM, RIGHT - CROSS",NaN,NaN,NaN,NaN,0,1,0,1
192722,Y32576,"SCAR, BACK - SPINE",NaN,NaN,NaN,NaN,0,0,0,0
192723,Y32576,"SCAR, ABDOMEN - MULTIPLE",NaN,NaN,NaN,NaN,0,0,0,0
192724,Y32576,"TATTOO, LEG, RIGHT - \""GOB\""",NaN,NaN,NaN,NaN,0,0,0,0
192725,Y32576,"TATTOO, LEG, LEFT - \""GD,26-12-65\"",FLAMES,SWA...",NaN,NaN,NaN,NaN,0,0,0,0
192726,Y32576,"TATTOO, ARM, LEFT - CLOWNS X2,\""GOOD OL BOYS,W...",NaN,NaN,NaN,NaN,0,1,0,1
192727,Y32577,"TATTOO, ARM, RIGHT - CROSS,\""CHRISTIAN MARVEL,...",NaN,NaN,NaN,NaN,0,1,0,1
192728,Y32579,"TATTOO, HAND, RIGHT - CROSS",NaN,NaN,NaN,NaN,0,1,0,1
192729,Y32579,"TATTOO, ARM, RIGHT - \""MOM\""",NaN,NaN,NaN,NaN,0,1,0,1
192730,Y32580,"TATTOO, ARM, RIGHT - \""EJT\"",ANARCHY SYMBOL",NaN,NaN,NaN,NaN,0,1,0,1
192731,Y32580,"TATTOO, ARM, LEFT - \""217,BMNJ\""",NaN,NaN,NaN,NaN,0,1,0,1
192732,Y32580,"TATTOO, CHEST - PEACE SIGN",NaN,NaN,NaN,NaN,0,0,0,0
192733,Y32580,"SCAR, ARM, LEFT - \""E\""(BRAND)",NaN,NaN,NaN,NaN,1,0,0,1
192734,Y32581,"SCAR, HAND, LEFT -",NaN,NaN,NaN,NaN,1,0,0,1
192735,Y32581,"TATTOO, ARM, RIGHT - ROSE \""VIC\""",NaN,NaN,NaN,NaN,0,1,0,1
192736,Y32581,"TATTOO, CHEST - R/S PAW PRINT, L/S PAW PRINT",NaN,NaN,NaN,NaN,0,0,0,0
192737,Y32581,"TATTOO, SHOULDER, RIGHT - \""SEXY REDD\""",NaN,NaN,NaN,NaN,0,0,0,0
192738,Y32581,PIERCED EARS - 2X EA,NaN,NaN,NaN,NaN,0,0,0,0
192739,Y32582,NONE RECORDED,NaN,NaN,NaN,NaN,0,0,0,0
192740,Y54605,"TATTOO, ABDOMEN - HEART ON LOWER RIGHT SIDE",NaN,NaN,NaN,NaN,0,0,0,0
192741,Y54605,"TATTOO, BACK - ADC ON UPPER BACK AREA, TWO HEAR",NaN,NaN,NaN,NaN,0,0,0,0
192742,Y54605,"TATTOO, HAND, RIGHT - \""QUEEN\"" ANTIONIO W/ H...",NaN,NaN,NaN,NaN,0,1,0,1
192743,Y54605,"TATTOO, LEG, LEFT - DIVA, W/ 3 PT CROWN",NaN,NaN,NaN,NaN,0,0,0,0
192744,Y54605,"TATTOO, FOOT, RIGHT - HURTS",NaN,NaN,NaN,NaN,0,0,0,0
192745,x76205,NONE RECORDED,NaN,NaN,NaN,NaN,0,0,0,0
192746,x77490,NONE RECORDED,NaN,NaN,NaN,NaN,0,0,0,0

### looking at the "Unnamed" columns

In [28]:
marks_2['Unnamed: 2'].unique()

array([nan, 'GUNSHOT WOUND', "'MM'", ..., 'G TRAMMELL\\"',
       ' ARMS, HANDS, FEE', ' ROSE'], dtype=object)

In [29]:
marks_2.loc[marks_2['Unnamed: 2'] == 'GUNSHOT WOUND']

,id,mark,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,scar_visible,tat_visible,mc_visible,any_visible
82,A01906,"TATTOO, CHEEK (FACE), RIGHT - HEART, BACK\",GUNSHOT WOUND,NaN,NaN,NaN,0,1,0,1

In [30]:
marks_2.loc[marks_2['Unnamed: 2'] == ' ARMS, HANDS, FEE']

,id,mark,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,scar_visible,tat_visible,mc_visible,any_visible
187679,Y30274,"PIERCED EARS - 1X EA, N/MARKS\","ARMS, HANDS, FEE",NaN,NaN,NaN,0,0,0,0

In [31]:
marks_2['Unnamed: 3'].unique()

array([nan, ' 100% HUNKY', 'DAGGER', ' $', 'MARG', 'L HND:\\"MOM:',
       ' 1/2 HEART', ' DOIN TIME HOURGLAS', 'FLAG', 'HALOGEN.',
       ' \\"CVL\\",GLASS', 'ESTHER', '7\\', 'RHND:CHANEL', 'DAGGER\\',
       ' TEARDROP', 'CLOUD\\', ' TYSHAY', 'ULA:MY WIF', 'VOID',
       'ABDOM:KATHERINE', ' MOON', ' NANCY', ' XAVIER\\',
       'CROSS,SKULL,ROSE,TIGE', 'RSIDE:WIZARD', 'RHIP:MOSQUITO',
       ' SHENIKA', 'RLEG:187,G', 'LARBESE)', ' SKULL\\', 'PRIDE',
       ' 2 LINES', ' 4PT STAR', 'LFA:NONE', 'FEATHERS)', ' PRAYING HANDS',
       'CHEST:HEART', 'RLEG:LOVE', 'LHND:K', 'TEAR DROP', ' L LEG/DEMON',
       'FLOW), \\"', ' SD, SUICID', ' ALEX, HEART, R', 'PANTHER',
       'LLEG:SHA BAZ', '  L LEG/MAL', 'Scorpion', 'LFA:13', 'BACK:KEENAN',
       'LLEG:SKULLS', ' FLAMES\\', 'AS', 'ULA:HONESTY', 'ULA:CROSS',
       'LFA:MICHELE', 'ULA:P.HAN', 'BRASS KNUCKLES', 'NECK:TAY TAY',
       ' SCAR BACK: SURGICAL', 'LUCKY 13', 'CHEST:TIGE', 'LFA:RIP LA',
       'SKULL\\', 'JOYCE', 'LFA:CLOWN', 'BRUCE', 'IL.BAR', ' R HND/FLY',
       'BOY', ' ARIEL', 'RHND:N.', 'LHND:R', ' FACE', ' MICHELLE',
       '  RFA/BOUT IT(2)', ' WIRE', 'RLEG:LMK', ' 2 FORKS', 'HITTER',
       ' LIL DINO\\', ' DMW\\', ' DANE\\', ' SKULL)', 'MURDER',
       'ANA,HEART', '2-5PT STARS,', 'DOG', 'JESUS)', ' MANY OTHERS\\',
       'WHITEPRID', 'TEAR', 'LORD FORGIVE ME', 'CHEST:LEOLA',
       'BACK:SNYPAZ', 'RWRS:MOM', 'RHND:KYNG', 'BACK:SKULL,', 'RWRS:SLOW',
       'LSHLD:SKU', 'RSIDE:CROSS', 'DANNY,CROWN', 'SON', 'ULA',
       'CHEST:2 MARKS', 'ULA:TRIBAL', ' ROSARY  PORTRAIT', 'URA:L',
       'BACK:SLEEVED', 'URA:SLEEVED', 'LHND:DOT', 'SKU',
       '  SHANTIL L ARM', 'RHND:X', 'PITCH.', ' \\"CRAZY W/STAR',
       'RLEG:LINE', 'NECK:5 PT STAR', 'BABY,', '2,SELFMADE',
       'L EYEBR 1IN', ' CROSS,RT/ARM\\', 'LHND:JH', 'LFA:ANDREW',
       'ONE LOVE\\', "STAND'S ALONE", ' Q\\', ' QORNIE,R/HND\\',
       ' \\"DUB\\"', 'CHEST:MOM', 'LWRS:KAHLIL', ' CROSS', ' 10-19-1987',
       ' WEST\\', ' BRYAN', ' 056 THIRSTY', ' TAT FACE: 3 DOTS',
       ' PANCHO VIA', ' DEVIL\\', 'LWRS:SON', ' SGD\\', ' MONEY $',
       'LLEG:CROSS,GOD,1', ' MELBA\\', ' HEART\\', ' KIANA\\', ' LOVE\\',
       ' CM\\', ' LAJOY\\', ' PITCHFORK,JACK,', 'JONATHAN\\', ' SWORD',
       ' SPIDER WEB, \\"B\' WITH', ' ARROW IN CIRCL', ' EFRAIN', ' HEART',
       'ULA:2-4-14D', 'LLEG:DIAMOND', 'DOMINIQ', 'LEYE:AZZ', 'CHEST:19/4',
       'CHEST:HORNS,', ' 5 POINT STAR', 'GUTTA', 'SKUL', 'ULA:D\\',
       'RFNGR:SHI', 'BACK:773', ' BACK OF HEAD', 'URA:SCROLL',
       'SARA,CROSS', 'RHND:SCAR', 'LHND:58 W/5 LINES', 'CHEST:RIP CRAZY',
       ' L WRIST: \\"MARIA\\"', 'LLEG:WINGS,RISE', ' 2 FACES', ' SULIEMA',
       ' SCORPION 3 5', ' ROSE/WIRE', ' MARIJUNANA LEAF', 'ULA:NICOLE',
       ' EARNHARDT', 'RLEG:R', ' \\"ADONIS\\"', 'REYE:T.DROP',
       'MOUTH:3TEARDROPS', "ABDOM:A'", 'ULA:CLOWN', 'NECK:MARIAH',
       'CHEST:GOD SON', 'NECK:RUIZ', 'DAB', 'WORLD\\', 'LFA:HARVEY',
       '2 ANGELS,W WINGS,HALO', 'RFA:2MASKS,CHINE', 'LCHK:JTBTG',
       'NECK:JESSICA', 'LCHK:TAZ', 'B\\', 'TALL MEX', 'CHEST:KIARA',
       'LCHK:1T.DRO', 'RWRS:SOUTH', 'LFA:C', 'CHINESE SYMBOLS',
       'RELLY ROZAY', 'LLEG:2 SWORDS,GHOST,', 'ALICE', 'ULA:MASK',
       'LLEG:LEID', 'DINERO', 'LLEG:5PT.CROWN', 'DONNA', 'LEYE:T.DROP',
       'LFA:HEAVY CHINESE', 'LHND:DOVE', 'BACK:WINGS', ' KEELA\\',
       'CALVIN W/FORK', 'P.FORK', ' L ANKLE: \\"ANGIE\\"', ' HEART)',
       ' MASK', 'PRYAMID\\', 'ISLAM', 'BUNNY RABBIT\\', '1/2MOON',
       'GEMINI', 'JUDY', 'CROSS', '4 & 3 ON IT', '2 SKKULLS)', 'LFA:DICE',
       'LHND:DIANE', ' \\"F\\"', ' \\"M\\"', '3 TEARDROPS', 'LFA:RIP JUD',
       'HATED BY MANY', '  BACK/TRIBAL', '  SCAR/NECK', 'LHND:ALEX',
       'CROSS,ROSIE,ROSA,PONTEL', ' CROSS/ROSES', '  CHST/NINA', 'CARMEN',
       ' \\"KIMBERLY\\"', ' LIA/\\"BLU\\",\\"TRU\\"', '  BACK/CROSS',
       'SKULL', ' LEFT X1', ' MONIQUE', ' TRIBAL\\', ' SHENIKEA,SKUL',
       ' R HND/B', 'GUAR', 'CARDS', '  NECK:ROSARY', ' LOVE MY HOOD',
       'YOU)', 'URA:JANICE', 'LWRS:KEMAURIE\\', 'SPADE', 'W',
       ' ABDOMEN: CSH', 'LHND:ES', 'TONY', 'L WRST/CHINESE',
       ' RIA/CROSS,RIBBON', 'NECK:MIRIAM', ' CATHERINE', 'RIPLABON',
       ' CUE BALL/STICK', 'PITCHFORKS(2),HQ,2939', '13 1/2,POME,',
       'NECK:SILENT CITY', 'CITY', 'ABDOM:CLOWN', 'LSIDE:SULTAN',
       'ROOTHLESS', 'CROSS)', 'LK', 'LFA\\', 'URA:6FOOTPRINT', 'BURNT',
       '2 TEARS', 'ABDOM:BROKEN', ' Bi', ' (NECK)/18\\', 'RHND:LEE G',
       'MARY,', 'ULA:P.HANDS,ROSARY', 'RCHK:4 DOTS', 'RLEG:DK,', 360,
       'CROSS,', '2 5-PT STARS,LB,', ' \\"GAME OVER\\"', 'LEYE:3T.DROPS',
       ' NAKED LADY', ' JOKER', 'RHND:EBK', ' I TRY', ' DEVIL,REGINA',
       ' 2 TOMBSTONES', ' LAUGH NOW', 'SCROLLS,SMOKE,', ' TOMBSTONE',
       'LFA:SKULL', ' HEART D', 'WARD', '  34ST SAVGE', ' MAURICE',
       ' $\\', ' 2ND T', 'KENNEDY\\', ' MURDA', ' CROSS\\', 'DANTE',
       'LSHLD:8', 'LLEG\\', '2\\" SCARS', 'LSHLD:G\\', 'STARS,PALM TR',
       'BACK:HATCHETT', 'BACK:REAPER', 'FEAR GOD', ' JASON', 'JRWE',
       ' ALMIGHTY', 'BACK\\', 'LAILA', 'PUREBREAD', ' BTL\\',
       'CARDS SKULL', 'LEGS\\', 'GROIN', 'MOB\\', 'PAMEL',
       ' DIANNA W/RIBBON', ' \\"If it don\'t make', 'BRICKS', ' TAE',
       'BEAST', 'PORTR', 'DOMINIC', 'RFA:TARA', 'GOOD/EVIL', '\\',
       ' CHINESE SYMBOL', ' CHINESE LETTE', 'JOKER', 'MBFL\\',
       'ALWAYS IN MY', 'MAD', ' STAR', 'KNT', 'WIERDO HENDRIX\\', '618\\',
       'HENDRIX', 'JOHNYLA\\', 'RWRS:HALEY', 'MOB', 'PBUNNY',
       ' 2 SNAKES\\', 'ROSE', ' SKULL', 'PITBULLS, BULLETS,',
       'SUNW/MOON/STARS\\', 'TRIBAL', 'DARMARII', 'TOP HAT', 'GANGSTA',
       'VARIHA\\', 'LION\\', 'TURTLES', 'PARROTS\\', 'MIDDLE', ' Cat',
       ' 5 dots on wrist'], dtype=object)

In [32]:
marks_2['Unnamed: 4'].unique()

array([nan, 'LLL\\', '+.', ' EYE OF RA', ' WIZARD', ' GUN', 'ALFRIDA',
       ' NICOLE', ' DANE\\', ' KEYASHA', ' BLA', 'COD,', ' ESC, CROWN,',
       ' BITCH,JAMIER', 'GLORI', ' PTG', ' BC', ' YOUNG MONEY', ' DIA\\',
       ' CROWN\\', ' RU', ' SAMORA', ' BPSN\\', 'LLEG:D/TAIL', 'NEY',
       'AARON\\', ' SLEEVED', '$MERK\\', '5PTSTA', ' 8 BALL', 'URA:J',
       'MUSIC', ' DESTANEY', 'KEIAHRA', ' RIP\\', 'LISETT', '\\"GET AT M',
       'OTF\\', 'ANKLES', '$', ' MICHAEL ON SIDE', 'CRYSTAL', 'PRINCES',
       'RIP JA MANUYIA', 'DIAMON', 'RG', 'VINNI', 'TIGER, e', 'FLOWERS'],
      dtype=object)

In [33]:
marks_2['Unnamed: 5'].unique()

array([nan, 'FORKS', ' JESTER', ' CLUB)', ' $', ' IN', 'HEARTS', ' DANA',
       1], dtype=object)

I think this information is not helpful for us, so I drop it

In [34]:
marks_2.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5'], axis = 'columns', inplace = False)
marks_2.head()

,id,mark,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,scar_visible,tat_visible,mc_visible,any_visible
0,A00147,"SCAR, ARM, RIGHT - 2\""",NaN,NaN,NaN,NaN,1,0,0,1
1,A00147,"SCAR, WRIST, RIGHT - 1\""",NaN,NaN,NaN,NaN,1,0,0,1
2,A00147,"TATTOO, ARM, LEFT - 1111",NaN,NaN,NaN,NaN,0,1,0,1
3,A00220,"SCAR, ARM, LEFT - SCAR ARM, LEFT",NaN,NaN,NaN,NaN,1,0,0,1
4,A00220,"SCAR, CHEST - SCAR CHEST",NaN,NaN,NaN,NaN,0,0,0,0

In [35]:
marks_2.head()

,id,mark,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,scar_visible,tat_visible,mc_visible,any_visible
0,A00147,"SCAR, ARM, RIGHT - 2\""",NaN,NaN,NaN,NaN,1,0,0,1
1,A00147,"SCAR, WRIST, RIGHT - 1\""",NaN,NaN,NaN,NaN,1,0,0,1
2,A00147,"TATTOO, ARM, LEFT - 1111",NaN,NaN,NaN,NaN,0,1,0,1
3,A00220,"SCAR, ARM, LEFT - SCAR ARM, LEFT",NaN,NaN,NaN,NaN,1,0,0,1
4,A00220,"SCAR, CHEST - SCAR CHEST",NaN,NaN,NaN,NaN,0,0,0,0

In [36]:
#Save new csv
marks_2.to_csv('marks_2.csv')

### Person

In [37]:
person = pd.read_excel('person.xlsx')
person.head()

,id,name,date_of_birth,weight,hair,sex,height,race,eyes,admission_date,...,last_paroled_date,projected_discharge_date,parole_date,electronic_detention_date,discharge_date,parent_institution,offender_status,location,sex_offender_registry_required,alias
0,A00147,"MCCUTCHEON, JOHN",06/14/1949,185.0,Brown,Male,67.0,White,Blue,02/16/1983,...,NaN,2036-06-10 00:00:00,NaN,NaN,NaN,DIXON CORRECTIONAL CENTER,IN CUSTODY,DIXON,1.0,NaN
1,A00220,"WALKER, ISIAH",03/30/1957,155.0,Black,Male,73.0,Black,Brown,05/19/2016,...,NaN,NaN,NaN,NaN,NaN,STATEVILLE CORRECTIONAL CENTER,NON-IDOC CUSTODY,ILL/OTH STATE/FED CONCURR,NaN,NaN
2,A00360,"BELL, HOWARD",12/18/1946,167.0,Gray or Partially Gray,Male,69.0,White,Green,02/26/1988,...,NaN,TO BE DETERMINED,2017-02-10 00:00:00,NaN,NaN,PINCKNEYVILLE CORRECTIONAL CENTER,PAROLE,PAROLE DISTRICT 1,NaN,HOWARD R BELL | DONALD BROADSTONE | RONALD B...
3,A00367,"GARVIN, RAYMOND",1954-12-01 00:00:00,245.0,Black,Male,72.0,Black,Brown,2017-09-11 00:00:00,...,NaN,11/20/2020,NaN,NaN,NaN,WESTERN ILLINOIS CORRECTIONAL CENTER,IN CUSTODY,WESTERN ILLINOIS,NaN,NaN
4,A01054,"TIPTON, DARNELL",03/25/1954,166.0,Salt and Pepper,Male,67.0,Black,Brown,12/23/1988,...,NaN,08/14/2068,NaN,NaN,NaN,MENARD CORRECTIONAL CENTER,IN CUSTODY,MENARD,1.0,NaN

changing the measures from imperial to reasonable

In [38]:
person["height"] = (person["height"]*2.54)
person["height"].head()

0    170.18
1    185.42
2    175.26
3    182.88
4    170.18
Name: height, dtype: float64

In [39]:
person["weight"] = (person["weight"]*0.45359237)
person["weight"].head()

0     83.914588
1     70.306817
2     75.749926
3    111.130131
4     75.296333
Name: weight, dtype: float64

In [40]:
person = person.drop(['alias', 'electronic_detention_date', 'discharge_date', 'parole_date', 'projected_discharge_date', 'last_paroled_date', 'projected_parole_date'], axis = 'columns', inplace = False)
person.head()

,id,name,date_of_birth,weight,hair,sex,height,race,eyes,admission_date,parent_institution,offender_status,location,sex_offender_registry_required
0,A00147,"MCCUTCHEON, JOHN",06/14/1949,83.914588,Brown,Male,170.18,White,Blue,02/16/1983,DIXON CORRECTIONAL CENTER,IN CUSTODY,DIXON,1.0
1,A00220,"WALKER, ISIAH",03/30/1957,70.306817,Black,Male,185.42,Black,Brown,05/19/2016,STATEVILLE CORRECTIONAL CENTER,NON-IDOC CUSTODY,ILL/OTH STATE/FED CONCURR,NaN
2,A00360,"BELL, HOWARD",12/18/1946,75.749926,Gray or Partially Gray,Male,175.26,White,Green,02/26/1988,PINCKNEYVILLE CORRECTIONAL CENTER,PAROLE,PAROLE DISTRICT 1,NaN
3,A00367,"GARVIN, RAYMOND",1954-12-01 00:00:00,111.130131,Black,Male,182.88,Black,Brown,2017-09-11 00:00:00,WESTERN ILLINOIS CORRECTIONAL CENTER,IN CUSTODY,WESTERN ILLINOIS,NaN
4,A01054,"TIPTON, DARNELL",03/25/1954,75.296333,Salt and Pepper,Male,170.18,Black,Brown,12/23/1988,MENARD CORRECTIONAL CENTER,IN CUSTODY,MENARD,1.0

lets change the dates to uniform format

In [41]:
from dateutil.parser import parse

def is_date(string, fuzzy=False):
    """
    Return whether the string can be interpreted as a date.

    :param string: str, string to check for date
    :param fuzzy: bool, ignore unknown tokens in string if True
    """
    try: 
        parse(str(string), fuzzy=fuzzy)
        return True

    except ValueError:
        return False

persons_2 = person

count = 0
list_of_errors = []
for row in range(len(persons_2)):
    if is_date(persons_2['date_of_birth'][row], fuzzy=False) == False:
        count = count+1
        list_of_errors.append(row)
    else:
        count = count
    

for row in range(len(persons_2)):
    if is_date(persons_2['admission_date'][row], fuzzy=False) == False:
        count = count+1
        list_of_errors.append(row)
    else:
        count = count
        
        
print('There are ' + str(count) + ' values, that are not datetime format')

There are 56 values, that are not datetime format

In [42]:
print(list_of_errors)

[1288, 1645, 2251, 2423, 3579, 3722, 4263, 4391, 6374, 6472, 7277, 9000, 9012, 9323, 14237, 14486, 15605, 15607, 20902, 22543, 24124, 24288, 26269, 26363, 27074, 28517, 28518, 28558, 28696, 28721, 29786, 30231, 30364, 30799, 31060, 31445, 32247, 33459, 33835, 38602, 46007, 46727, 48384, 48510, 49997, 50501, 50576, 50788, 50809, 54884, 55527, 55918, 55946, 57324, 58007, 61109]

Yes, this is not dynamic, but I am too lazy, sorry

In [43]:
persons_2 = persons_2.drop([1288, 1645, 2251, 2423, 3579, 3722, 4263, 4391, 6374, 6472, 7277, 9000, 9012, 9323, 14237, 14486, 15605, 15607, 20902, 22543, 24124, 24288, 26269, 26363, 27074, 28517, 28518, 28558, 28696, 28721, 29786, 30231, 30364, 30799, 31060, 31445, 32247, 33459, 33835, 38602, 46007, 46727, 48384, 48510, 49997, 50501, 50576, 50788, 50809, 54884, 55527, 55918, 55946, 57324, 58007, 61109])
print(len(persons_2))
persons_2['date_of_birth'] = pd.to_datetime(persons_2.date_of_birth)
persons_2['admission_date'] = pd.to_datetime(persons_2.admission_date)

61054

In [44]:
persons_2.head(10)

,id,name,date_of_birth,weight,hair,sex,height,race,eyes,admission_date,parent_institution,offender_status,location,sex_offender_registry_required
0,A00147,"MCCUTCHEON, JOHN",1949-06-14,83.914588,Brown,Male,170.18,White,Blue,1983-02-16,DIXON CORRECTIONAL CENTER,IN CUSTODY,DIXON,1.0
1,A00220,"WALKER, ISIAH",1957-03-30,70.306817,Black,Male,185.42,Black,Brown,2016-05-19,STATEVILLE CORRECTIONAL CENTER,NON-IDOC CUSTODY,ILL/OTH STATE/FED CONCURR,NaN
2,A00360,"BELL, HOWARD",1946-12-18,75.749926,Gray or Partially Gray,Male,175.26,White,Green,1988-02-26,PINCKNEYVILLE CORRECTIONAL CENTER,PAROLE,PAROLE DISTRICT 1,NaN
3,A00367,"GARVIN, RAYMOND",1954-12-01,111.130131,Black,Male,182.88,Black,Brown,2017-09-11,WESTERN ILLINOIS CORRECTIONAL CENTER,IN CUSTODY,WESTERN ILLINOIS,NaN
4,A01054,"TIPTON, DARNELL",1954-03-25,75.296333,Salt and Pepper,Male,170.18,Black,Brown,1988-12-23,MENARD CORRECTIONAL CENTER,IN CUSTODY,MENARD,1.0
5,A01072,"BRISBON, HENRY",1956-12-01,88.450512,Black,Male,175.26,Black,Brown,1974-02-22,PONTIAC CORRECTIONAL CENTER,IN CUSTODY,PONTIAC,NaN
6,A01077,"JONES, ROBERT",1953-03-04,81.646627,Black,Male,172.72,Black,Brown,1983-09-16,PINCKNEYVILLE CORRECTIONAL CENTER,IN CUSTODY,PINCKNEYVILLE,NaN
7,A01148,"BROWN, RONALD",1955-02-02,77.110703,Black,Male,180.34,Black,Brown,2005-12-13,MENARD CORRECTIONAL CENTER,IN CUSTODY,MENARD,NaN
8,A01157,"LANGFORD, ROBERT",1945-01-18,93.893621,Black,Male,182.88,Black,Black,2000-09-15,STATEVILLE CORRECTIONAL CENTER,IN CUSTODY,STATEVILLE,NaN
9,A01181,"WILLIAMS, MELVIN",1955-10-09,86.636143,Black,Male,180.34,Black,Brown,2007-10-08,STATEVILLE CORRECTIONAL CENTER,IN CUSTODY,STATEVILLE,NaN

In [45]:
persons_2['Age_admission'] = persons_2['admission_date'] - persons_2['date_of_birth']
persons_2.head(10)

,id,name,date_of_birth,weight,hair,sex,height,race,eyes,admission_date,parent_institution,offender_status,location,sex_offender_registry_required,Age_admission
0,A00147,"MCCUTCHEON, JOHN",1949-06-14,83.914588,Brown,Male,170.18,White,Blue,1983-02-16,DIXON CORRECTIONAL CENTER,IN CUSTODY,DIXON,1.0,12300 days
1,A00220,"WALKER, ISIAH",1957-03-30,70.306817,Black,Male,185.42,Black,Brown,2016-05-19,STATEVILLE CORRECTIONAL CENTER,NON-IDOC CUSTODY,ILL/OTH STATE/FED CONCURR,NaN,21600 days
2,A00360,"BELL, HOWARD",1946-12-18,75.749926,Gray or Partially Gray,Male,175.26,White,Green,1988-02-26,PINCKNEYVILLE CORRECTIONAL CENTER,PAROLE,PAROLE DISTRICT 1,NaN,15045 days
3,A00367,"GARVIN, RAYMOND",1954-12-01,111.130131,Black,Male,182.88,Black,Brown,2017-09-11,WESTERN ILLINOIS CORRECTIONAL CENTER,IN CUSTODY,WESTERN ILLINOIS,NaN,22930 days
4,A01054,"TIPTON, DARNELL",1954-03-25,75.296333,Salt and Pepper,Male,170.18,Black,Brown,1988-12-23,MENARD CORRECTIONAL CENTER,IN CUSTODY,MENARD,1.0,12692 days
5,A01072,"BRISBON, HENRY",1956-12-01,88.450512,Black,Male,175.26,Black,Brown,1974-02-22,PONTIAC CORRECTIONAL CENTER,IN CUSTODY,PONTIAC,NaN,6292 days
6,A01077,"JONES, ROBERT",1953-03-04,81.646627,Black,Male,172.72,Black,Brown,1983-09-16,PINCKNEYVILLE CORRECTIONAL CENTER,IN CUSTODY,PINCKNEYVILLE,NaN,11153 days
7,A01148,"BROWN, RONALD",1955-02-02,77.110703,Black,Male,180.34,Black,Brown,2005-12-13,MENARD CORRECTIONAL CENTER,IN CUSTODY,MENARD,NaN,18577 days
8,A01157,"LANGFORD, ROBERT",1945-01-18,93.893621,Black,Male,182.88,Black,Black,2000-09-15,STATEVILLE CORRECTIONAL CENTER,IN CUSTODY,STATEVILLE,NaN,20329 days
9,A01181,"WILLIAMS, MELVIN",1955-10-09,86.636143,Black,Male,180.34,Black,Brown,2007-10-08,STATEVILLE CORRECTIONAL CENTER,IN CUSTODY,STATEVILLE,NaN,18992 days

from datetime import datetime
def yearsago(years, from_date=None):
    if from_date is None:
        from_date = datetime.now()
    try:
        return from_date.replace(year=from_date.year - years)
    except ValueError:
        # Must be 2/29!
        assert from_date.month == 2 and from_date.day == 29 # can be removed
        return from_date.replace(month=2, day=28,
                                 year=from_date.year-years)

In [46]:
persons_2.to_csv('persons_2.csv')

## Sentencing

lets fix the dates in the same manner as before

In [47]:
sentencing = pd.read_excel('sentencing.xlsx')
sentencing_2 = sentencing
sentencing.head()

,id,mittimus,class,count,offense,custody_date,sentence,county,sentence_discharged
0,A00147,82CF32,1,2,AGGR KIDNAPPING-NO RANSOM,11/26/1982,30 Years 0 Months 0 Days,JASPER,NO
1,A00147,82CF32,X,1,ATTEMPT MURDER/INTENT TO KILL/INJURE,11/26/1982,50 Years 0 Months 0 Days,JASPER,NO
2,A00147,82CF32,X,1,RAPE,11/26/1982,50 Years 0 Months 0 Days,JASPER,NO
3,A00147,82CF32,2,1,BURGLARY,11/26/1982,14 Years 0 Months 0 Days,JASPER,NO
4,A00220,7916505,3,1,ATTEMPT BURGLARY,00/00/0000,2 Years 0 Months 0 Days,COOK,YES

In [48]:
list_of_errors = []
count = 0

for row in range(len(sentencing_2)):
    if is_date(sentencing_2['custody_date'][row], fuzzy=False) == False:
        count = count+1
        list_of_errors.append(row)
    else:
        count = count

print('There are ' + str(count) + ' values, that are not datetime format')

list_of_zeros  = []
count_zeroes = 0

for row in range(len(sentencing_2)):
    if sentencing_2['custody_date'][row] == '00/00/0000':
        count_zeroes = count_zeroes+1
        list_of_zeros.append(row)
    else:
        count_zeroes = count_zeroes
                
print('There are ' + str(count_zeroes) + ' values, that are zero')

There are 59 values, that are not datetime format
There are 59 values, that are zero

In [49]:
print(list_of_zeros)

[4, 5, 263, 264, 330, 765, 766, 1045, 1046, 1782, 2317, 2318, 2319, 2397, 2417, 2418, 2600, 2601, 3153, 3154, 3155, 3271, 3272, 3329, 3330, 3366, 3406, 3573, 4893, 4945, 4946, 5251, 5252, 5323, 5947, 5989, 6021, 6310, 6311, 6312, 6313, 6353, 6354, 6355, 130628, 130822, 131243, 131477, 131478, 131559, 131631, 131770, 131771, 131772, 131954, 131955, 131956, 133169, 133254]

In [50]:
print(list_of_errors)

[4, 5, 263, 264, 330, 765, 766, 1045, 1046, 1782, 2317, 2318, 2319, 2397, 2417, 2418, 2600, 2601, 3153, 3154, 3155, 3271, 3272, 3329, 3330, 3366, 3406, 3573, 4893, 4945, 4946, 5251, 5252, 5323, 5947, 5989, 6021, 6310, 6311, 6312, 6313, 6353, 6354, 6355, 130628, 130822, 131243, 131477, 131478, 131559, 131631, 131770, 131771, 131772, 131954, 131955, 131956, 133169, 133254]

In [51]:
sentencing_2 = sentencing_2.drop([4, 5, 263, 264, 330, 765, 766, 1045, 1046, 1782, 2317, 2318, 2319, 2397, 2417, 2418, 2600, 2601, 3153, 3154, 3155, 3271, 3272, 3329, 3330, 3366, 3406, 3573, 4893, 4945, 4946, 5251, 5252, 5323, 5947, 5989, 6021, 6310, 6311, 6312, 6313, 6353, 6354, 6355, 130628, 130822, 131243, 131477, 131478, 131559, 131631, 131770, 131771, 131772, 131954, 131955, 131956, 133169, 133254])
        
sentencing_2['custody_date'] = pd.to_datetime(sentencing_2.custody_date)
sentencing_2.head()

,id,mittimus,class,count,offense,custody_date,sentence,county,sentence_discharged
0,A00147,82CF32,1,2,AGGR KIDNAPPING-NO RANSOM,1982-11-26,30 Years 0 Months 0 Days,JASPER,NO
1,A00147,82CF32,X,1,ATTEMPT MURDER/INTENT TO KILL/INJURE,1982-11-26,50 Years 0 Months 0 Days,JASPER,NO
2,A00147,82CF32,X,1,RAPE,1982-11-26,50 Years 0 Months 0 Days,JASPER,NO
3,A00147,82CF32,2,1,BURGLARY,1982-11-26,14 Years 0 Months 0 Days,JASPER,NO
6,A00360,87CR0539101,X,1,ARMED ROBBERY,1987-12-04,60 Years 0 Months 0 Days,COOK,NO

In [52]:
sentencing_2.dropna(subset = ["sentence"], inplace=True)

In [53]:
from collections import Counter
Counter(sentencing_2.sentence)

Counter({'30 Years 0 Months 0 Days': 3041,
         '50 Years 0 Months 0 Days': 984,
         '14 Years 0 Months 0 Days': 1672,
         '60 Years 0 Months 0 Days': 1248,
         '1 Years 0 Months 0 Days': 20332,
         '2 Years 0 Months 0 Days': 27728,
         '40 Years 0 Months 0 Days': 929,
         '3 Years 0 Months 0 Days': 40338,
         '0 Years 32 Months 0 Days': 40,
         '0 Years 28 Months 0 Days': 78,
         '6 Years 6 Months 0 Days': 657,
         '7 Years 0 Months 0 Days': 9097,
         '0 Years 16 Months 0 Days': 121,
         '10 Years 0 Months 0 Days': 7875,
         '4 Years 6 Months 0 Days': 1968,
         '5 Years 0 Months 0 Days': 15550,
         '4 Years 0 Months 0 Days': 26632,
         '3 Years 6 Months 0 Days': 2528,
         '9 Years 0 Months 0 Days': 3581,
         '15 Years 0 Months 0 Days': 4376,
         'LIFE': 1294,
         '20 Years 0 Months 0 Days': 3210,
         '3000 Years 0 Months 0 Days': 2,
         '6 Years 0 Months 0 Days': 21994,
         '18 Years 0 Months 0 Days': 1367,
         '0 Years 3 Months 0 Days': 6,
         '12 Years 0 Months 0 Days': 3761,
         '1 Years 0 Months 1 Days': 76,
         '8 Years 0 Months 0 Days': 8076,
         '7 Years 6 Months 0 Days': 557,
         '22 Years 0 Months 0 Days': 590,
         'DEATH': 18,
         '25 Years 0 Months 0 Days': 1765,
         '4 Years 0 Months 1 Days': 56,
         '55 Years 0 Months 0 Days': 404,
         '0 Years 18 Months 0 Days': 6500,
         '28 Years 0 Months 0 Days': 380,
         '45 Years 0 Months 0 Days': 747,
         '90 Years 0 Months 0 Days': 53,
         '16 Years 0 Months 0 Days': 819,
         '26 Years 0 Months 0 Days': 347,
         '6 Years 0 Months 1 Days': 2,
         '0 Years 0 Months 90 Days': 3,
         '43 Years 0 Months 0 Days': 26,
         '80 Years 0 Months 0 Days': 208,
         '21 Years 0 Months 0 Days': 808,
         '0 Years 30 Months 0 Days': 3221,
         '27 Years 0 Months 0 Days': 218,
         '2 Years 6 Months 0 Days': 2466,
         '17 Years 0 Months 0 Days': 513,
         '0 Years 0 Months 30 Days': 8,
         '14 Years 0 Months 1 Days': 10,
         '70 Years 0 Months 0 Days': 138,
         '11 Years 0 Months 0 Days': 1164,
         '35 Years 0 Months 0 Days': 564,
         '199 Years 0 Months 0 Days': 9,
         '5 Years 6 Months 0 Days': 572,
         '32 Years 0 Months 0 Days': 138,
         '36 Years 0 Months 0 Days': 56,
         '100 Years 0 Months 0 Days': 133,
         '13 Years 0 Months 0 Days': 934,
         '1 Years 15 Months 0 Days': 1,
         'SDP': 189,
         '0 Years 65 Months 0 Days': 2,
         '17 Years 6 Months 0 Days': 40,
         '200 Years 0 Months 0 Days': 38,
         '75 Years 0 Months 0 Days': 187,
         '0 Years 24 Months 0 Days': 638,
         '1 Years 1 Months 0 Days': 11,
         '0 Years 42 Months 0 Days': 1075,
         '0 Years 54 Months 0 Days': 468,
         '49 Years 0 Months 0 Days': 18,
         '1 Years 6 Months 0 Days': 1341,
         '0 Years 0 Months 270 Days': 1,
         '29 Years 0 Months 0 Days': 111,
         '2 Years 9 Months 0 Days': 61,
         '65 Years 0 Months 0 Days': 113,
         '0 Years 6 Months 0 Days': 42,
         '3 Years 4 Months 0 Days': 26,
         '0 Years 48 Months 0 Days': 230,
         '0 Years 46 Months 0 Days': 12,
         '0 Years 0 Months 364 Days': 69,
         '0 Years 9 Months 0 Days': 12,
         '0 Years 90 Months 0 Days': 103,
         '8 Years 6 Months 0 Days': 357,
         '0 Years 0 Months 5 Days': 2,
         '0 Years 15 Months 0 Days': 530,
         '24 Years 0 Months 0 Days': 402,
         '85 Years 0 Months 0 Days': 46,
         '0 Years 20 Months 0 Days': 195,
         '0 Years 14 Months 0 Days': 188,
         '0 Years 26 Months 0 Days': 46,
         '4 Years 5 Months 0 Days': 7,
         '0 Years 36 Months 0 Days': 512,
         '8 Years 9 Months 0 Days': 14,
         '14 Years 6 Months 0 Days': 32,
         '39 Years 0 Months 0 Days': 43,
         '40 Years 0 Months 1 Days': 1,
         '35 Years 0 Months 1 Days': 1,
         '30 Years 0 Months 1 Days': 2,
         '0 Years 0 Months 360 Days': 5,
         '19 Years 0 Months 0 Days': 181,
         '9 Years 6 Months 0 Days': 197,
         '4 Years 4 Months 1 Days': 2,
         '0 Years 78 Months 0 Days': 130,
         '2 Years 0 Months 1 Days': 2,
         '53 Years 0 Months 0 Days': 24,
         '31 Years 0 Months 0 Days': 108,
         '3 Years 3 Months 0 Days': 65,
         '12 Years 6 Months 0 Days': 107,
         '0 Years 35 Months 0 Days': 8,
         '2 Years 3 Months 0 Days': 82,
         '0 Years 45 Months 0 Days': 51,
         '4 Years 9 Months 0 Days': 27,
         '64 Years 0 Months 0 Days': 5,
         '5 Years 3 Months 0 Days': 16,
         '0 Years 27 Months 0 Days': 131,
         '0 Years 50 Months 0 Days': 53,
         '52 Years 0 Months 0 Days': 46,
         '0 Years 44 Months 0 Days': 19,
         '23 Years 0 Months 0 Days': 354,
         '38 Years 0 Months 0 Days': 133,
         '0 Years 84 Months 0 Days': 41,
         '0 Years 0 Months 180 Days': 6,
         '0 Years 4 Months 0 Days': 3,
         '46 Years 0 Months 0 Days': 38,
         '0 Years 60 Months 0 Days': 134,
         '0 Years 40 Months 0 Days': 121,
         '15 Years 6 Months 0 Days': 29,
         '0 Years 33 Months 0 Days': 95,
         '2 Years 0 Months 102 Days': 1,
         '0 Years 34 Months 0 Days': 29,
         '0 Years 8 Months 0 Days': 4,
         '0 Years 62 Months 0 Days': 4,
         '1 Years 7 Months 0 Days': 2,
         '0 Years 12 Months 0 Days': 417,
         '1 Years 9 Months 0 Days': 28,
         '24 Years 6 Months 0 Days': 12,
         '0 Years 13 Months 0 Days': 59,
         '37 Years 0 Months 0 Days': 39,
         '48 Years 0 Months 0 Days': 69,
         '1 Years 3 Months 0 Days': 69,
         '3 Years 9 Months 0 Days': 56,
         '44 Years 0 Months 0 Days': 45,
         '10 Years 6 Months 0 Days': 87,
         '11 Years 6 Months 0 Days': 77,
         '0 Years 66 Months 0 Days': 117,
         '8 Years 5 Months 0 Days': 3,
         '0 Years 68 Months 0 Days': 7,
         '0 Years 38 Months 0 Days': 36,
         '0 Years 59 Months 0 Days': 9,
         '0 Years 72 Months 0 Days': 104,
         '3 Years 5 Months 0 Days': 5,
         '0 Years 39 Months 0 Days': 56,
         '6 Years 3 Months 0 Days': 21,
         '42 Years 0 Months 0 Days': 66,
         '0 Years 25 Months 0 Days': 39,
         '33 Years 0 Months 0 Days': 80,
         '88 Years 0 Months 0 Days': 1,
         '0 Years 23 Months 0 Days': 7,
         '6 Years 8 Months 0 Days': 8,
         '9 Years 11 Months 0 Days': 4,
         '0 Years 21 Months 0 Days': 116,
         '0 Years 53 Months 0 Days': 7,
         '0 Years 22 Months 0 Days': 65,
         '34 Years 0 Months 0 Days': 55,
         '3 Years 0 Months 1 Days': 2,
         '2 Years 1 Months 0 Days': 3,
         '13 Years 6 Months 0 Days': 96,
         '6 Years 1 Months 0 Days': 6,
         '58 Years 0 Months 0 Days': 32,
         '0 Years 17 Months 0 Days': 19,
         '0 Years 19 Months 0 Days': 17,
         '54 Years 0 Months 0 Days': 29,
         '1 Years 8 Months 0 Days': 13,
         '31 Years 6 Months 0 Days': 1,
         '6 Years 11 Months 0 Days': 5,
         '0 Years 70 Months 0 Days': 11,
         '91 Years 0 Months 0 Days': 1,
         '19 Years 9 Months 0 Days': 1,
         '4 Years 4 Months 0 Days': 10,
         '20 Years 6 Months 0 Days': 4,
         '0 Years 96 Months 0 Days': 64,
         '57 Years 0 Months 0 Days': 15,
         '0 Years 82 Months 0 Days': 4,
         '0 Years 74 Months 0 Days': 5,
         '0 Years 29 Months 0 Days': 7,
         '6 Years 10 Months 0 Days': 4,
         '56 Years 0 Months 0 Days': 17,
         '95 Years 0 Months 0 Days': 5,
         '2 Years 2 Months 0 Days': 15,
         '4 Years 3 Months 0 Days': 46,
         '0 Years 76 Months 0 Days': 4,
         '3 Years 8 Months 0 Days': 5,
         '2 Years 10 Months 0 Days': 14,
         '4 Years 10 Months 0 Days': 7,
         '4 Years 2 Months 0 Days': 14,
         '2 Years 4 Months 0 Days': 21,
         '2 Years 0 Months 71 Days': 2,
         '0 Years 95 Months 0 Days': 1,
         '10 Years 9 Months 0 Days': 4,
         '1 Years 2 Months 0 Days': 22,
         '8 Years 10 Months 0 Days': 6,
         '0 Years 81 Months 0 Days': 4,
         '16 Years 6 Months 0 Days': 29,
         '5 Years 9 Months 0 Days': 9,
         '67 Years 0 Months 0 Days': 5,
         '11 Years 10 Months 0 Days': 4,
         '0 Years 73 Months 0 Days': 7,
         '0 Years 75 Months 0 Days': 12,
         '2 Years 5 Months 0 Days': 7,
         '0 Years 52 Months 0 Days': 24,
         '7 Years 10 Months 0 Days': 5,
         '0 Years 0 Months 500 Days': 1,
         '0 Years 99 Months 0 Days': 3,
         '8 Years 4 Months 0 Days': 3,
         '0 Years 51 Months 0 Days': 27,
         '0 Years 49 Months 0 Days': 13,
         '41 Years 0 Months 0 Days': 12,
         '11 Years 9 Months 0 Days': 8,
         '10 Years 2 Months 0 Days': 1,
         '78 Years 0 Months 0 Days': 2,
         '120 Years 0 Months 0 Days': 10,
         '6 Years 9 Months 0 Days': 7,
         '99 Years 0 Months 0 Days': 7,
         '66 Years 0 Months 0 Days': 5,
         '5 Years 5 Months 0 Days': 5,
         '8 Years 3 Months 0 Days': 12,
         '0 Years 0 Months 600 Days': 1,
         '47 Years 0 Months 0 Days': 43,
         '8 Years 2 Months 0 Days': 1,
         '9 Years 7 Months 0 Days': 2,
         '7 Years 1 Months 0 Days': 2,
         '3 Years 10 Months 0 Days': 13,
         '9 Years 1 Months 0 Days': 1,
         '0 Years 57 Months 0 Days': 21,
         '12 Years 12 Months 0 Days': 1,
         '5 Years 11 Months 12 Days': 2,
         '19 Years 6 Months 0 Days': 10,
         '42 Years 6 Months 0 Days': 1,
         '0 Years 41 Months 0 Days': 5,
         '1 Years 5 Months 0 Days': 5,
         '2 Years 0 Months 312 Days': 1,
         '3 Years 0 Months 6 Days': 1,
         '0 Years 92 Months 0 Days': 1,
         '7 Years 9 Months 0 Days': 9,
         '0 Years 47 Months 0 Days': 5,
         '0 Years 31 Months 0 Days': 10,
         '57 Years 4 Months 0 Days': 1,
         '27 Years 6 Months 0 Days': 8,
         '26 Years 6 Months 0 Days': 3,
         '1 Years 0 Months 15 Days': 3,
         '0 Years 64 Months 0 Days': 3,
         '51 Years 0 Months 0 Days': 11,
         '7 Years 3 Months 0 Days': 11,
         '14 Years 4 Months 0 Days': 1,
         '59 Years 0 Months 0 Days': 6,
         '5 Years 1 Months 0 Days': 2,
         '9 Years 10 Months 0 Days': 8,
         '72 Years 0 Months 0 Days': 4,
         '13 Years 5 Months 0 Days': 1,
         '0 Years 43 Months 0 Days': 8,
         '27 Years 3 Months 0 Days': 1,
         '22 Years 6 Months 0 Days': 25,
         '68 Years 0 Months 0 Days': 7,
         '0 Years 37 Months 0 Days': 20,
         '37 Years 6 Months 0 Days': 4,
         '0 Years 0 Months 366 Days': 2,
         '0 Years 58 Months 0 Days': 9,
         '2 Years 0 Months 264 Days': 1,
         '2 Years 5 Months 20 Days': 1,
         '0 Years 23 Months 15 Days': 1,
         '11 Years 8 Months 0 Days': 3,
         '1 Years 10 Months 0 Days': 11,
         '0 Years 67 Months 0 Days': 1,
         '8 Years 0 Months 86 Days': 1,
         '5 Years 10 Months 0 Days': 2,
         '18 Years 6 Months 0 Days': 6,
         '1 Years 4 Months 0 Days': 16,
         '0 Years 11 Months 0 Days': 1,
         '12 Years 9 Months 0 Days': 2,
         '0 Years 55 Months 0 Days': 8,
         '150 Years 0 Months 0 Days': 52,
         '300 Years 0 Months 0 Days': 31,
         '180 Years 0 Months 0 Days': 3,
         '125 Years 0 Months 0 Days': 4,
         '1 Years 1 Months 1 Days': 2,
         '250 Years 0 Months 0 Days': 1,
         '2500 Years 0 Months 0 Days': 1,
         '450 Years 0 Months 0 Days': 1,
         '400 Years 0 Months 0 Days': 2,
         '225 Years 0 Months 0 Days': 1,
         '1000 Years 0 Months 0 Days': 4,
         '600 Years 0 Months 0 Days': 4,
         '500 Years 0 Months 0 Days': 1,
         '4 Years 8 Months 0 Days': 6,
         '2 Years 8 Months 0 Days': 13,
         '17 Years 5 Months 0 Days': 1,
         '0 Years 0 Months 120 Days': 2,
         '38 Years 3 Months 0 Days': 1,
         '5 Years 4 Months 0 Days': 3,
         '82 Years 0 Months 0 Days': 1,
         '6 Years 4 Months 0 Days': 4,
         '9 Years 4 Months 0 Days': 2,
         '11 Years 4 Months 0 Days': 2,
         '94 Years 10 Months 0 Days': 1,
         '44 Years 6 Months 0 Days': 1,
         '6 Years 5 Months 0 Days': 2,
         '0 Years 26 Months 15 Days': 1,
         '0 Years 88 Months 0 Days': 2,
         '9 Years 4 Months 29 Days': 1,
         '0 Years 63 Months 0 Days': 12,
         '84 Years 0 Months 0 Days': 2,
         '3 Years 2 Months 0 Days': 9,
         '0 Years 56 Months 0 Days': 12,
         '63 Years 0 Months 0 Days': 6,
         '0 Years 2 Months 0 Days': 1,
         '0 Years 0 Months 850 Days': 1,
         '7 Years 8 Months 0 Days': 2,
         '17 Years 8 Months 0 Days': 1,
         '1500 Years 0 Months 0 Days': 2,
         '240 Years 0 Months 0 Days': 1,
         '6 Years 2 Months 0 Days': 2,
         '62 Years 0 Months 0 Days': 5,
         '1 Years 0 Months 19 Days': 1,
         '0 Years 94 Months 0 Days': 1,
         '0 Years 80 Months 0 Days': 6,
         '0 Years 98 Months 0 Days': 2,
         '3 Years 7 Months 0 Days': 3,
         '73 Years 0 Months 0 Days': 1,
         '110 Years 0 Months 0 Days': 2,
         '29 Years 5 Months 0 Days': 1,
         '27 Years 2 Months 0 Days': 2,
         '17 Years 7 Months 0 Days': 1,
         '1 Years 0 Months 4 Days': 1,
         '0 Years 83 Months 0 Days': 5,
         '15 Years 1 Months 0 Days': 3,
         '61 Years 0 Months 0 Days': 4,
         '0 Years 0 Months 40 Days': 1,
         '0 Years 1 Months 0 Days': 2,
         '5 Years 7 Months 0 Days': 2,
         '0 Years 93 Months 0 Days': 3,
         '81 Years 0 Months 0 Days': 2,
         '76 Years 0 Months 0 Days': 2,
         '0 Years 79 Months 0 Days': 1,
         '9 Years 8 Months 0 Days': 2,
         '17 Years 10 Months 0 Days': 1,
         '52 Years 6 Months 0 Days': 1,
         '14 Years 14 Months 1 Days': 1,
         '0 Years 11 Months 29 Days': 1,
         '13 Years 4 Months 0 Days': 2,
         '0 Years 0 Months 60 Days': 2,
         '2 Years 6 Months 19 Days': 1,
         '4 Years 5 Months 15 Days': 1,
         '8 Years 11 Months 0 Days': 1,
         '8 Years 0 Months 1 Days': 1,
         '3 Years 0 Months 90 Days': 1,
         '28 Years 6 Months 0 Days': 2,
         '2 Years 0 Months 44 Days': 1,
         '0 Years 0 Months 279 Days': 1,
         '0 Years 0 Months 240 Days': 1,
         '9 Years 9 Months 0 Days': 1,
         '0 Years 0 Months 65 Days': 1,
         '0 Years 16 Months 15 Days': 1,
         '0 Years 71 Months 0 Days': 2,
         '0 Years 0 Months 580 Days': 1,
         '0 Years 0 Months 937 Days': 1,
         '0 Years 0 Months 14 Days': 1,
         '12 Years 11 Months 0 Days': 1,
         '10 Years 8 Months 0 Days': 2,
         '0 Years 69 Months 0 Days': 2,
         '0 Years 0 Months 215 Days': 1,
         '2 Years 7 Months 0 Days': 2,
         '4 Years 7 Months 0 Days': 3,
         '10 Years 10 Months 0 Days': 1,
         '0 Years 0 Months 365 Days': 3,
         '0 Years 85 Months 0 Days': 2,
         '12 Years 4 Months 0 Days': 1,
         '999 Years 99 Months 0 Days': 1,
         '29 Years 6 Months 23 Days': 1,
         '23 Years 6 Months 0 Days': 5,
         '0 Years 18 Months 6 Days': 1,
         '23 Years 8 Months 0 Days': 1,
         '11 Years 3 Months 0 Days': 4,
         '0 Years 12 Months 1 Days': 1,
         '9 Years 3 Months 0 Days': 4,
         '40 Years 10 Months 0 Days': 1,
         '79 Years 0 Months 0 Days': 1,
         '1 Years 11 Months 0 Days': 1,
         '28 Years 4 Months 0 Days': 3,
         '3 Years 11 Months 0 Days': 2,
         '17 Years 9 Months 0 Days': 1,
         '1 Years 5 Months 29 Days': 1,
         '4 Years 11 Months 0 Days': 1,
         '3 Years 1 Months 0 Days': 1,
         '105 Years 0 Months 0 Days': 1,
         '20 Years 20 Months 0 Days': 1,
         '19 Years 11 Months 29 Days': 1,
         '14 Years 2 Months 0 Days': 1,
         '92 Years 0 Months 0 Days': 1,
         '29 Years 11 Months 0 Days': 1,
         '0 Years 5 Months 0 Days': 2,
         '71 Years 0 Months 0 Days': 2,
         '2 Years 7 Months 16 Days': 1,
         '69 Years 0 Months 0 Days': 2,
         '4 Years 1 Months 0 Days': 1,
         '32 Years 6 Months 0 Days': 3,
         '3 Years 0 Months 43 Days': 1,
         '7 Years 5 Months 0 Days': 1,
         '6 Years 0 Months 99 Days': 1,
         '16 Years 5 Months 0 Days': 1,
         '8 Years 7 Months 0 Days': 1,
         '5 Years 8 Months 0 Days': 1,
         '0 Years 61 Months 0 Days': 2,
         '17 Years 3 Months 0 Days': 1,
         '7 Years 11 Months 0 Days': 1,
         '19 Years 2 Months 0 Days': 1,
         '3 Years 0 Months 193 Days': 1,
         '0 Years 0 Months 762 Days': 1,
         '3 Years 1 Months 806 Days': 1,
         '25 Years 6 Months 0 Days': 1,
         '33 Years 6 Months 0 Days': 1,
         '29 Years 0 Months 364 Days': 1,
         '6 Years 11 Months 20 Days': 1,
         '23 Years 7 Months 0 Days': 1,
         '0 Years 10 Months 0 Days': 1,
         '47 Years 6 Months 0 Days': 1,
         '888 Years 0 Months 0 Days': 1,
         '0 Years 0 Months 560 Days': 1,
         '1 Years 2 Months 20 Days': 1})

In [54]:
len(sentencing_2)

244621

In [55]:
sentencing_2.to_csv('sentencing_2.csv')

In [56]:
sentencing_2.head(100)

,id,mittimus,class,count,offense,custody_date,sentence,county,sentence_discharged
0,A00147,82CF32,1,2,AGGR KIDNAPPING-NO RANSOM,1982-11-26,30 Years 0 Months 0 Days,JASPER,NO
1,A00147,82CF32,X,1,ATTEMPT MURDER/INTENT TO KILL/INJURE,1982-11-26,50 Years 0 Months 0 Days,JASPER,NO
2,A00147,82CF32,X,1,RAPE,1982-11-26,50 Years 0 Months 0 Days,JASPER,NO
3,A00147,82CF32,2,1,BURGLARY,1982-11-26,14 Years 0 Months 0 Days,JASPER,NO
6,A00360,87CR0539101,X,1,ARMED ROBBERY,1987-12-04,60 Years 0 Months 0 Days,COOK,NO
7,A00360,01CF187,4,1,OBSTRUCTING JUSTICE,1987-12-04,1 Years 0 Months 0 Days,FULTON,NO
8,A00360,84C10405,3,1,CARRY/POSS FIREARM/PUBLIC/SCH,1984-08-08,2 Years 0 Months 0 Days,COOK,YES
9,A00360,651839,2,1,BURGLARY,1968-04-05,40 Years 0 Months 0 Days,COOK,YES
10,A00360,682118,M,1,MURDER/INTENT TO KILL/INJURE,1968-04-05,40 Years 0 Months 0 Days,COOK,YES
11,A00367,17C55044701,2,1,THEFT CONTROL INTENT 10K<100K,2017-07-29,3 Years 0 Months 0 Days,COOK,NO
12,A00367,13C44020501,4,1,RET THEFT/DISP MERCH/<$150/2+,2013-02-28,1 Years 0 Months 0 Days,COOK,YES
13,A00367,12CR0280101,4,1,RET THEFT/DISP MERCH/<$150/2+,2012-01-22,1 Years 0 Months 0 Days,COOK,YES
14,A00367,10C44119201,3,1,RETAIL THEFT/RETURN>$150,2010-02-11,2 Years 0 Months 0 Days,COOK,YES
15,A00367,09CR1421101,3,1,RET THEFT/DISPLAY MERCH/>$150,2009-11-07,2 Years 0 Months 0 Days,COOK,YES
16,A00367,08CR2213601,4,1,THEFT/CON/PRIOR CONVIC <300,2008-02-11,1 Years 0 Months 0 Days,COOK,YES
17,A00367,07CR0812601,3,1,AGG BATTERY/HARM MERCHANT,2007-03-27,0 Years 32 Months 0 Days,COOK,YES
18,A00367,06CR0205701,4,1,RET THEFT/DISP MERCH/<$150/2+,2006-04-01,0 Years 28 Months 0 Days,COOK,YES
19,A00367,04C44126401,3,1,RETAIL THEFT/RETURN>$150,2004-11-30,2 Years 0 Months 0 Days,COOK,YES
20,A00367,01CF3683,2,1,BURGLARY,2001-12-21,6 Years 6 Months 0 Days,DUPAGE,YES
21,A00367,01CF3683,2,1,THEFT/UNAUTHD CON/>10K <100K,2001-12-21,6 Years 6 Months 0 Days,DUPAGE,YES
22,A00367,96CF5267,2,1,THEFT >$10K-$100K,1996-10-18,7 Years 0 Months 0 Days,WILL,YES
23,A00367,96CR08866,4,1,POSS AMT CON SUB EXCEPT(A)/(D),1996-09-30,0 Years 16 Months 0 Days,COOK,YES
24,A00367,96CF174901,2,1,THEFT >$10K-$100K,1996-09-26,10 Years 0 Months 0 Days,DUPAGE,YES
25,A00367,94C440117,3,1,RETAIL THEFT/RETURN>$150,1994-01-17,4 Years 6 Months 0 Days,COOK,YES
26,A00367,919759,3,1,FELON POSS/USE WEAPON/FIREARM,1991-10-04,5 Years 0 Months 0 Days,COOK,YES
27,A00367,89CF622,3,1,RETAIL THEFT/RETURN>$150,1989-02-19,4 Years 0 Months 0 Days,DUPAGE,YES
28,A00367,89C440097,3,1,THEFT >$300-$10K,1989-02-19,3 Years 6 Months 0 Days,COOK,YES
29,A00367,82C11009,X,2,ATTEMPT MURDER/INTENT TO KILL/INJURE,1982-09-14,10 Years 0 Months 0 Days,COOK,YES
30,A00367,8118741,3,1,THEFT >$300-$10K,1981-09-14,2 Years 0 Months 0 Days,COOK,YES
31,A00367,80CF215,3,1,RETAIL THEFT/RETURN>$150,1980-04-03,2 Years 0 Months 0 Days,DUPAGE,YES
...,...,...,...,...,...,...,...,...,...
74,A01237,78I40424,3,1,THEFT >$300-$10K,1981-07-05,2 Years 0 Months 0 Days,COOK,YES
75,A01258,85C60018901,X,1,RAPE,1985-03-27,60 Years 0 Months 0 Days,COOK,NO
76,A01258,85C60018901,1,1,AGGR KIDNAPPING-NO RANSOM,1985-03-27,15 Years 0 Months 0 Days,COOK,NO
77,A01258,85C60018901,X,1,DEVIATE SEXUAL ASSAULT,1985-03-27,60 Years 0 Months 0 Days,COOK,NO
78,A01258,741533,3,1,THEFT >$300-$10K,1974-06-24,3 Years 0 Months 0 Days,COOK,YES
79,A01285,11CR0399501,1,1,MANU/DEL 01-15 GR COCAINE/ANLG,2012-10-25,8 Years 0 Months 0 Days,COOK,NO
80,A01285,11CR0399501,2,1,FELON POSS/USE FIREARM PRIOR,2012-10-25,8 Years 0 Months 0 Days,COOK,NO
81,A01285,98CR3161801,2,1,OTHER AMT NARCOTIC SCHED I&II,1999-01-18,7 Years 0 Months 0 Days,COOK,YES
82,A01285,99CR0611201,1,1,AMT NARC SCHED I/II/SCH/HS/PK,1999-01-18,7 Years 0 Months 0 Days,COOK,YES
83,A01285,97CR1789601,4,1,POSS AMT CON SUB EXCEPT(A)/(D),1997-07-27,2 Years 0 Months 0 Days,COOK,YES
84,A01285,92CR4038,1,1,CONT SUBS ACT-MFG/DEL,1992-06-03,8 Years 0 Months 0 Days,COOK,YES
85,A01285,92CR4063,3,1,FELON POSS/USE WEAPON/FIREARM,1992-06-03,8 Years 0 Months 0 Days,COOK,YES
86,A01285,92CR4063,4,1,CONT SUBS ACT-UNAUTH POSS,1992-06-03,6 Years 0 Months 0 Days,COOK,YES
87,A01285,92CR9536,1,2,CONT SUBS ACT-MFG/DEL/ENHANCED,1992-06-03,8 Years 0 Months 0 Days,COOK,YES
88,A01285,92CR9536,2,2,CONT SUBS ACT-MFG/DEL,1992-06-03,8 Years 0 Months 0 Days,COOK,YES
89,A01285,92CR9536,4,1,CONT SUBS ACT-UNAUTH POSS,1992-06-03,8 Years 0 Months 0 Days,COOK,YES
90,A01285,84C2625,X,2,ATTEMPT MURDER/INTENT TO KILL/INJURE,1984-06-04,7 Years 6 Months 0 Days,COOK,YES
91,A01285,84C2625,3,4,AGG BATTERY/GREAT BODILY HARM,1984-06-04,5 Years 0 Months 0 Days,COOK,YES
92,A01285,822622,3,1,CARRY/POSS FIREARM/PUBLIC/SCH,1982-11-03,4 Years 0 Months 0 Days,COOK,YES
93,A01285,80I17032,3,1,CARRY/POSS FIREARM/PUBLIC/SCH,1980-05-25,2 Years 0 Months 0 Days,COOK,YES
94,A01349,89CR2541902,3,2,AGG BATTERY/GREAT BODILY HARM,1989-03-10,5 Years 0 Months 0 Days,COOK,NO
95,A01349,89CR2541902,X,1,ARMED ROBBERY,1989-03-10,60 Years 0 Months 0 Days,COOK,NO
96,A01349,829119,3,1,CARRY/POSS FIREARM/PUBLIC/SCH,1982-09-22,5 Years 0 Months 0 Days,COOK,YES
97,A01349,7865350,X,2,ARMED ROBBERY,1978-12-09,22 Years 0 Months 0 Days,COOK,YES
98,A01349,786485,X,2,ATTEMPT MURDER/INTENT TO KILL/INJURE,1978-12-09,22 Years 0 Months 0 Days,COOK,YES
99,A01349,786485,X,1,ARMED ROBBERY,1978-12-09,22 Years 0 Months 0 Days,COOK,YES
100,A01356,78C1191,2,1,VOL MANSLAUGHTER/PRIOR 1/1/82,1978-02-26,14 Years 0 Months 0 Days,COOK,NO
101,A01356,78C1191,M,2,MURDER/INTENT TO KILL/INJURE,1978-02-26,LIFE,COOK,NO
102,A01356,78C601191,M,1,MURDER/INTENT TO KILL/INJURE,1978-02-26,LIFE,COOK,YES
103,A01356,79C119101,M,1,MURDER/INTENT TO KILL/INJURE,1978-02-26,DEATH,COOK,YES

In [58]:
#merged = pd.merge(persons_2, marks_2,  on="id")
#merged = pd.merge(merged, sentencing_2,  on="id")

In [ ]:
print('dataframe sentencing is ' + str(len(sentencing)) + ' rows long')
print('dataframe merged is ' + str(len(merged)) + ' rows long')

In [62]:
#merged.to_csv('merged_person_sentencing.csv')
os.listdir()

['.ipynb_checkpoints',
 '436801_829570_bundle_archive.zip',
 'datasets',
 'datasets_251_561_student-mat.csv',
 'Data_cleaning.ipynb',
 'desktop.ini',
 'front',
 'htmltocsv.py',
 'illinois_doc_dataset.torrent',
 'images',
 'inmates',
 'M1',
 'M2',
 'marks.csv',
 'marks.xlsx',
 'marks_2',
 'marks_2.csv',
 'merged',
 'merged_person_sentencing.csv',
 'notebook_M1D4.ipynb',
 'person.csv',
 'person.xlsx',
 'persons_2',
 'persons_2.csv',
 'Python for ML',
 'readme',
 'sentencing.csv',
 'sentencing.xlsx',
 'sentencing_2',
 'sentencing_2.csv',
 'sentencing_2.xlsx',
 'side',
 'Untitled.ipynb',
 'Untitled1.ipynb']